<html>
<head>
<title>Plots from Rivet analyses</title>
<style>
      html { font-family: sans-serif; }
      img { border: 0; }
      a { text-decoration: none; font-weight: bold; }
    </style>
            <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [["$","$"]]}
        });
        </script>
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        

        <script type="text/javascript">
            function filterPlots(ana, patt) {
                var regex = new RegExp(patt);
                var sec = document.getElementById('ana_'+ana);
                var plots = sec.getElementsByClassName('plot');
                var i; for (i = 0; i < plots.length; ++i) {
                    // var viz = (regex.test(plots[i].id)) ? 'visible' : 'hidden';
                    // plots[i].style.visibility = viz;
                    var dis = (regex.test(plots[i].id)) ? 'block' : 'none';
                    plots[i].style.display = dis;
                }
                return false;
           }
        </script>
        </head>
<body><h2>Plots from Rivet analyses</h2>


<h3><a href="ALICE_2018_I1672792/index.html" style="text-decoration:none;">Dielectron production in proton--proton collisions at $\sqrt{s}$ = 7\,TeV (ALICE_2018_I1672792)</a></h3>
<p><a href="https://inspirehep.net/literature/1672792">Inspire</a> &#124; <a href="http://hepdata.net/record/ins1672792">HepData</a> &#124; JHEP 09 (2018) 064 &#124; <a href="https://arxiv.org/abs/1805.04391">arXiv:1805.04391</a></p>
<p style="font-size:smaller;">The first measurement of e$^+$e$^-$ pair production at mid-rapidity ($|\eta_{{\rm e}}|$ $&lt;$ 0.8) in pp collisions at $\sqrt{s} = 7$ TeV with ALICE at the LHC is presented. The dielectron production is studied as a function of the invariant mass ($m_{\rm ee}$ $&lt;$ 3.3 GeV/$c^{2}$), the pair transverse momentum ($p_{\rm T,ee}$ $&lt;$ 8 GeV/$c$), and the pair transverse impact parameter (DCA$_{{\rm ee}}$), i.e., the average distance of closest approach of the reconstructed electron and positron tracks to the collision vertex, normalised to its resolution. The results are compared with the expectations from a cocktail of known hadronic sources and are well described when PYTHIA is used to generate the heavy-flavour contributions. In the low-mass region (0.14 $&lt;$ $m_{\rm ee}$ $&lt;$ 1.1 GeV/$c^{2}$), prompt and non-prompt e$^+$e$^-$ sources can be separated via the DCA$_{\rm ee}$. In the intermediate-mass region (1.1 $&lt;$ $m_{\rm ee}$ $&lt;$ 2.7 GeV/$c^{2}$), a double-differential fit to the data in $m_{\rm ee}$ and $p_{\rm T,ee}$ and a fit of the DCA$_{\rm ee}$ distribution allow the total ${\rm c\overline c}$ and ${\rm b\overline b}$ cross sections to be extracted. Two different event generators, PYTHIA and POWHEG, can reproduce the shape of the two-dimensional $m_{\rm ee}$ and $p_{\rm T,ee}$ spectra, as well as the shape of the DCA$_{\rm ee}$ distribution, reasonably well. However, differences in the ${\rm c\overline c}$ and ${\rm b\overline b}$ cross sections are observed when using the generators to extrapolate to full phase space. Finally, the ratio of inclusive to decay photons is studied via the measurement of virtual direct photons in the transverse-momentum range 1 $&lt;$ $p_{\rm T}$ $&lt;$ 8 GeV/$c$. This is found to be unity within the statistical and systematic uncertainties and consistent with expectations from next-to-leading order perturbative quantum chromodynamic calculations.</p>
<footer style="clear:both; margin-top:3em; padding-top:3em">
<p>Generated at Friday, 05. May 2023 05:30PM</p>
<p>Created with command: <pre>rivet-mkhtml ALICE_2018_I1672792.yoda</pre></p>
</footer>

</body>
</html>